.containerInputSearch {
  width: 80%;
  margin: 20px auto;
}

.containerInputSearch h1:nth-child(1){
  color: white;
  padding-bottom: 10px;
  font-size: calc(1.4em + 1vw);
}

.containerCards{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
